* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body, html {
      height: 100%;
      overflow: hidden;
      font-family: 'Segoe UI', sans-serif;
      background-image: url('pierna.jpg');
      background-repeat: no-repeat; /* Evita que se repita */
      background-size: cover; /* Cubre todo el espacio recortando excesos si es necesario */
      background-position: center; /* Centra la imagen */
      background-attachment: fixed; /* Opcional: fija la imagen al desplazarse */
    }

    .slider {
      display: flex;
      transition: transform 0.8s ease;
      width: 300%; /* 3 secciones */
      height: 100vh;
    }

    .slide {
      position: relative;
      min-width: 100vw;
      height: 100vh;
      color: white;
      display: flex;
      align-items: center;
      padding: 40px;
      background-size: cover;
      background-position: center;
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }

    .content {
      position: relative;
      z-index: 1;
      max-width: 500px;
    }
    .content.right {
  margin-left: auto;
  margin-right: 50%;
}

    .content h1 {
      font-size: 50px;
      margin-bottom: 10px;
    }

    .content p {
      font-size: 18px;
    }


    .nav-dots {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 12px;
      z-index: 2;
    }

    .nav-dots span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.4;
      cursor: pointer;
    }

    .nav-dots span.active {
      opacity: 1;
    }

    @media (max-width: 768px) {
      .content h1 {
        font-size: 36px;
      }

      .content p {
        font-size: 16px;
      }

      .content {
        padding: 10px;
      }
    }