body{
    background:#121212;
    color:white;
    font-family: Arial;
    padding:20px;
}

.titulo{
    text-align:center;
    margin-bottom:20px;
}

.contenedor{
    width:90%;
    margin:auto;
}

.card{
    background:#1f1f1f;
    padding:15px;
    border-radius:10px;
    margin-top:10px;
    cursor:pointer;
    font-size:20px;
    transition:.2s;
}

.card:hover{
    background:#272727;
}

.contenido{
    display:none;
    background:#222;
    padding:15px;
    margin-top:5px;
    border-radius:10px;
}

.barra{
    width:100%;
    background:#444;
    height:10px;
    border-radius:10px;
    margin-bottom:15px;
}

.progreso{
    height:100%;
    width:0%;
    background:#1abc9c;
    border-radius:10px;
    transition:.3s;
}

.ejercicio{
    background:#333;
    padding:12px;
    border-radius:8px;
    margin-bottom:10px;
}

.ejercicio .nombre{
    font-size:18px;
}

.hecho{
    background:#27ae60;
    padding:6px 12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-right:10px;
    color:white;
}

.hecho.done{
    background:#555;
    text-decoration:line-through;
}

.crono{
    background:#2980b9;
    color:white;
    padding:6px 12px;
    border-radius:6px;
    border:none;
    cursor:pointer;
}

.vacio{
    color:#bbb;
}
/* Botón de descargar PDF */
.btn-descargar {
    position: fixed;       /* Lo fija en la pantalla */
    top: 20px;             /* Separación desde arriba */
    right: 20px;           /* Separación desde la derecha */
    background: #474340;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: 0.2s;
    z-index: 9999;
}

.btn-descargar:hover {
    background: #d35400;
    transform: scale(1.05);
}

/* Responsivo */
@media screen and (max-width: 600px) {
    .btn-descargar {
        padding: 6px 10px;
        font-size: 12px;
        top: 10px;
        right: 10px;
    }
}
